---
import clsx from 'clsx';

import Nav from '@src/components/Nav';
import Post from '@src/components/Post';
import { getAllPosts, getAuthorBySlug } from '@src/domain/content';
import Seo from '@src/components/Seo';
import StructuredData from '@src/components/StructuredData';
import HtmlLayout from '@src/layouts/Html.astro';
import BodyLayout from '@src/layouts/Body.astro';
import HeadLayout from '@src/layouts/Head.astro';

export async function getStaticPaths() {
  const posts = getAllPosts();
  return posts.map((p) => {
    return { params: { slug: p.slug }, props: { post: p } };
  });
}

const { post } = Astro.props;
const author = getAuthorBySlug(post.author);
---

<HtmlLayout>
  <HeadLayout>
    <Seo
      title={post.title}
      subTitle={post.subTitle}
      tags={post.tags}
      heroImg={post.heroImg}
      canonicalUrl={post.canonicalUrl}
      authorName={author.name}
      ogType="article"
      publishedOn={post.publishedOn}
    />
    <StructuredData
      title={post.title}
      subTitle={post.subTitle}
      tags={post.tags}
      heroImg={post.heroImg}
      authorName={author.name}
      publishedOn={post.publishedOn}
      url={`https://shivekkhurana.com/blog/${post.slug}`}
    />
  </HeadLayout>

  <BodyLayout>
    <article>
      <div class={clsx('w-11/12 mx-auto lg:w-8/12 xl:w-6/12', '')}>
        <Nav />
      </div>
      <Post post={post} />
    </article>
  </BodyLayout>
</HtmlLayout>
